#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    padding-top: 600px;
    min-height: 100vh;
}

.typewriter {
    color: var(--orange-bright);
    text-align: center;
    font-size: 50px;
    margin-top: -30px;
    margin-bottom: 50px;
}

.intro-title {
    font-family: "NTR", sans-serif;
    font-size: 86px;
    color: var(--orange-bright);
}

.intro-subtitle {
    margin-top: -36px;
    font-family: "NTR", sans-serif;
    color: var(--slate);
    text-align: center;
    font-weight: 300;
    font-size: 48px;
}

.intro-desc {
    color: var(--slate);
    font-family: "NTR", sans-serif;
    align-self: center;
    font-size: 22px;
    text-align: center;
    max-width: 600px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    #intro {
        min-height: unset;
        padding-left: unset;
        padding-top: unset;
        margin: 0;
        align-items: center;
    }

    .intro-title {
        font-size: 46px;
    }

    .typewriter {
        margin-top: 50px;
        font-size: 36px;
    }

    .intro-desc {
        font-size: 18px;
        max-width: unset;
        padding-bottom: 40px;
    }
}